[submodule "test/cpp-httplib"]
	path = test/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "test/IXWebSocket"]
	path = test/IXWebSocket
	url = https://github.com/mrexodia/IXWebSocket
[submodule "test/asio"]
	path = test/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "test/uWebSockets"]
	path = test/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
	shallow = true
